.app {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "JetBrains Mono", sans-serif;
}

.app.default {
  background-image: url("./docs/default.jpg");
  background-size: 100%;
}

.app.rain {
  background-image: url("./docs/rain.jpg");
  background-size: 100%;
}

.app.snow {
  background-image: url("./docs/snow.jpg");
  background-size: 100%;
}

.app .location {
  padding: 1rem;
  font-size: 2rem;
  color: black;
}

.app .weather-details {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app .comment {
  padding: 0.5rem;
  font-size: 0.8rem;
}

.app .search-box {
  padding: 1rem;
}

main {
  padding: 2rem;
  background-color: white;
  opacity: 0.7;
}

input {
  font-family: "JetBrains Mono", sans-serif;
  padding: 0.5rem;
  margin-right: 0.25rem;
}

button {
  font-family: "JetBrains Mono", sans-serif;
  padding: 0.5rem;
  margin-left: 0.25rem;
}
